* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-size: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-bottom: 50px;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

a:hover {
  transition: ease-in-out 0.3s;
  color: gray;
}

#counter {
  font-size: 40px;
}

#stopwatch,
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  outline: none;
}

button:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

#start {
  background-color: #30dd11;
}

#pause {
  background-color: #c9dbd6;
}

#reset {
  background-color: red;
}
